.add_style {
    /* justify-content: center; */
    position: relative;
    top: 45%;
    padding-top: 10vh;
    padding-left: 10vh;
    color: white;
    text-align: center;
    font-size: 45px !important;
    /* font-size: 65px; */
    font-family: 'The Seasons', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #C4AD88; */
    /* position: relative; */

}

.add_imgstyle {
    justify-content: center;
    background: url('../../images/address.png') no-repeat center center fixed;
    height:100%;
    width: 100%; 
    position: absolute;
}

.add_buttonmargin {
    margin: 10px;
}

/* .add_width{
 MuiButton:{
    root:
    min-width: 200px;
}
} */
/* .add_link {
    font-size: 14px;
    margin: 10px;
} */

/* 
.add_bgcolor {

    background-color: #1B201E;
} */

.add_align {
    margin: 30%;
}

.add_textbox.MuiTextField-root {
    margin-left: 10px;
    background: white;
    font-family: 'Seasons', 'Calibri', 'Arial';
    height: 80px;
    width: 380px;

}

.add_button.MuiButton-root {
    color: black;
    background-color: rgb(234, 117, 200);
    border-radius: 30px;

}

.add_size {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

@media (max-width: 1000px) {
    .add_hide {
        display: none;
    }
}

.add_cardStyle {
    display: inline-block;
}