.userSignin_style {
    justify-content: center;
    /* position: relative;
    top:30%; */
    color: #C4AD88;
    text-align: center;
    font-size: 44px !important;
    /* font-size: 65px; */
    font-family: 'The Seasons', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #C4AD88; */
    /* position: relative; */

}

.userSignin_buttonmargin {
    margin: 10px;
}

/* .width{
 MuiButton:{
    root:
    min-width: 200px;
}
} */
.userSignin_link {
    font-size: 14px;
    margin: 10px;
    text-emphasis-color: #C4AD88;
    display: flex;
    justify-content: center;
}

.userSignin_bgcolor {

    background-color: #1B201E;
}

.userSignin_align {
    margin: 15%
}

.userSignin_textbox {
    background-color: #C4AD88;
    color: #FFFFFF;
    font-family: 'Seasons', 'Calibri', 'Arial';
    border-radius: 15px;
    /* padding: 20px; */
    /* height: 80px;
    width: 280px; */
}

.userSignin_button.MuiButton-root {
    background-color: #C4AD88;
    border-radius: 30px;
    margin: 10px;
    /* width: 200px; */
    font-size: 15px;
}

.userSignin_button.MuiButton-root:hover {
    background-color: #6b614f;
    transition: 0.7s;
    color: white
}

.userSignin_size {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

@media (max-width: 1000px) {
    .userSignin_hide {
        display: none;
    }
}

.userSignin_successmsg {
    color: white;
    position: flex;
}

.userSignin_errmsg.MuiTypography-root {
    color: rgb(161, 16, 16);
    text-align: center;
}