.searchBox {
    width: 1000px;
    margin: 10px 10px 0px 0px;
    position: relative;
    display: flex;

}

.searchBox>input[type="text"] {
    background-color: transparent;
    width: 100%;
    /* font: 0.9375rem; */
    /* line-height: 1.5; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax;
    /* width: 50%;
    outline: none; */
    border-radius: 30px 0 0 30px;
    /* font: 300 1.1vmax cursive; */
    box-sizing: border-box;
    margin-left: 10px;

}

.searchBox>input[type="submit"] {
    background-color: tan;

    padding: 1vmax;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    cursor: pointer;
    color: black;
    border-radius: 0 30px 30px 0;
    width: 20%;
    /* line-height: normal; */

}

.searchBox>input[type="submit"]:hover {
    background-color: #6b614f;
    transition:0.7s;
    color: white
    /* border-radius: 30px; */
}

