.createProductFormImage {
  width: 100%;
  overflow: auto;
}

.createProductFormImage>img {
  width: 30vw;
  margin: 0 0.5vmax;

}

.fontStyles.MuiTypography-root {
  /* text-align: justify; */
  padding-left: 10px;
  margin: 10px;
  margin-top: 15px;
  font-family: 'Cambria', 'Calibiri', 'Arial';
}

.quantity {

  margin-top: 10px;
  display: inline-flex;

  font-family: 'Cambria', 'Calibiri', 'Arial';
}

.viewProduct_Button.MuiButton-root {
  color: tan;
  background-color: #241B18;
  border-radius: 30px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 10px;
  height: 40px;
  width: 180px;
  font-size: 15px;

}

.viewProduct_Button.MuiButton-root:hover {
  background-color: #6b614f;
  transition: 0.7s;
  color: white
}
.createProductFormImage.MuiCardMedia-root {
  align-items: center;
}