.bg {
    background-color: #FAF2E9;
}

.dashboard_card.MuiCard-root {
    background-color: #FAF2E9;
    margin: 20px 10px 10px 20px;
    padding: 5px;
    box-shadow: 10px 10px 10px 10px rgba(228, 166, 184, 0.2), 10px 10px 10px 10px rgba(233, 133, 133, 0.1), 10px 10px 10px 10px rgba(163, 195, 231, 0.1)

}

.dashboard_typography1.MuiTypography-root {
    margin-left: 20px;
    color: #751a51;
    font-weight: 400
}
.dashboard_typography.MuiTypography-root {
    margin-left: 20px;
    color: #a71761;
    font-weight:400
}
.dashboard_typographyhead.MuiTypography-root {
    margin-left: 20px;
    color: #482638;
    font-weight:600
}

.dashboard_button.MuiButton-root {
    color: #848D62;
    text-decoration: underline;
    margin-left: 20px;
    margin-bottom: 10px;

}
.alignment
{
    margin: 2vw;
}

