
.imgstyle{
    /* height: 750px; */
    /* width: 1440px; */
    justify-content: center;
    /* background-image: url('../images/bg.jpg'); */
    height:100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;

}
.styleMain{
    justify-content: center;
    position: relative;
    top:20%;
    color:rgb(49,51,69);
    text-align: center;
    /* color: black; */
    font-size: 65px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    position: relative;
   
}
.buttonmargin{
    margin:10px;
    
}
.buttonStyle.MuiButton-root{
    background-color: rgb(49,51,69);
    color: beige;
}
/* .width{
 MuiButton:{
    root:
    min-width: 200px;
}
} */

.mmBGImg {
    background-color: #FAF2E9;
    background-size: cover;
    display: block;
    filter: none;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: -1;
    background-image: url('../images/landing.png');
}

.textContent {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}