
.imgstyle{
    /* height: 750px; */
    /* width: 1440px; */
    justify-content: center;
    /* background-image: url('../images/bg.jpg'); */
    height:100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;

}
.style{
    justify-content: center;
    position: relative;
    top:30%;
    color:rgb(49,51,69);
    text-align: center;
    /* color: black; */
    font-size: 65px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    position: relative;
   
}
.buttonmargin{
    margin:10px;
    
}
.buttonStyle.MuiButton-root{
    background-color: rgb(49,51,69);
    color: beige;
}
/* .width{
 MuiButton:{
    root:
    min-width: 200px;
}
} */