.navbarMain {
    border-radius: 20px;
    background-color: #C4AD88;
    color: #0000;
    margin: 20px 10px 0px 0px;
    height: 45px;
    width: 750px;
}

.buttonstyle.MuiButton-root {
    margin: 0px 10px 0px 10px;
    color: black;
    border-radius: 25px;
}

.iconstyleNav {    
    margin-right: 20px;
    margin-bottom: 22px;
}

.buttonstyle.MuiButton-root:hover {
    background-color: #6b614f;
    transition: 0.7s;
    color: white
}

.nav_logo_style {
    width: 90%;
    height: 100%;
    margin: 10px 0px 0px 5px;
}

.searchBox {
    height: 45px !important;
}

.nav-id .MuiGrid-root {
    height: 85px;
}
